body{
    font-family: 'Montserrat', sans-serif;
}
.header{
    padding-bottom: 0p;
    
}

#home{
    background: url(/images/pizza3.jpeg)top center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}

#home .home-logo img{
    max-width: 80%;
    display: flex;
    justify-content: center;

}
#home h2, h1{
    color: white;
    font-weight: bolder;
}
.form-hidden{
    display: none;
}
.login-container h4{
    font-weight: bold;
    color: wheat;
    padding-top: 20px;
}
.login-container a{
    font-weight: bold;
    color: hsl(239, 100%, 50%);
}
.form-input-group{
    margin: 1rem;
}
.about{
    padding: 30px;
    justify-content: center;
}
.about h2{
    text-align: center;
}
.about .row{
    padding: 30px;
    justify-content: center;
    text-align: center;
}
.about .row .col-md-4{
    justify-content: center;


}

.about .row .col-md-4 img{
    display: flex;
    justify-content: center;
}
.about .col-md-4 {
    padding: 20px;
}
.col-md-4 img{
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.col-md-4 a{
    justify-content: center;
    text-align: center;
}


.menu-container{
    background-color: rgb(252, 247, 247);
    padding: 30px;
}

.menu-container .row{
    justify-content: center;
}

.menu-container .row .col-md-4{
    display: flex;
    justify-content: center;

}
.menu-container .row .col-md-4 p{
    text-align: center;
}
.cart-container .row .col-md-4{
    display: flex;
    justify-content: center;
}

.services-container{
    padding: 30px;
    background-color: rgb(206, 147, 147);
    justify-content: center;
}
.services-container .row{
    justify-content: center;
}
.services-container .row .col-md-4{
    justify-content: center;
    text-align: center;
}
/*.about .about-container{
    padding: 30px;
}
.about .about-container .row{
    padding: 30px;
    display: flex;
    justify-content: center;

}
.about .about-container h2{
    font-weight: bold;
}

.about .about-container .row h4{
    font-weight: bold;

}
.about .about-container .row img{
    height: 80px;
    width: 100px;

}
.about .about-container .row p{
    text-align: center;
}

.about .about-container .row .col-md-4 h4{
    justify-content: center;
    text-align: center;

}

#image1{
   
}*/


form{
    justify-content: center;

}

.contact-container .row .col-md-6{
    display: flex;
    justify-content: center;
    padding: 5px;   
}

.contact-container .row .col-6{
    display: flex;
    justify-content: center;
    padding: 5px;

}
#message{
    height: 200px;
    width: 800px;
}