body{
    font-family: 'Montserrat', sans-serif;
}

#home{
    background: url(/images/pizza3.jpeg)top center;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

#home .home-logo img{
    max-width: 80%;
    display: flex;
    justify-content: center;

}
#home h2, h1{
    color: white;
    font-weight: bolder;
}

.about{
    padding: 30px;
    justify-content: center;
}
.about h2{
    text-align: center;
}
.about .row{
    padding: 30px;
    justify-content: center;
;
}
.col-md-4{
    padding: 20px;
}
.col-md-4 img{
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}